@import "tailwindcss";
@import "tw-animate-css";


:root {
  --card-inset: 2rem;


  /* colors */
  --font: 205, 16%, 25%;
  --font-reversed: 45, 55%, 94%;

  --border: 205,16%,70%;
  /* --border: 205,16%,25%; */


}

@theme {
  --color-background: hsla(var(--background));
  --color-border: hsla(var(--border));
  --color-font: hsla(var(--font));
  --color-font-reversed: hsla(var(--font-reversed));
}

.line {
  position: relative;
  background-image: linear-gradient(to top, #ff0000 50%, #00ff00 0);
  background-position-y: 100%;
  background-size: 100% 200%;
  background-clip: text;
  color: transparent;
}



@layer base {


}